:root {
  --blue500: hsl(215, 51%, 70%);
  --cyan400: hsl(178, 100%, 50%);
  --mainBg: hsl(217, 54%, 11%);
  --cardBg: hsl(216, 50%, 16%);
  --lineColor: hsl(215, 32%, 27%);
  --white: hsl(0, 0%, 100%);
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: "Red Hat Display", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  max-height: 100vh;
  background-color: var(--mainBg);
}
.container {
  width: 80%;
  margin: auto;
  padding: 20px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* NFT Card */
.nft-card {
  padding: 1.5rem;
  margin-bottom: 1rem;
  max-width: 370px;
  border-radius: 0.5rem;
  background-color: var(--cardBg);
  box-shadow: 0 0 10px 20px hsl(217, 55%, 10%), 0 0 10px 40px hsl(216, 57%, 11%);
  transition: transform 0.3s ease-in-out;
}
.nft-card:hover {
  transform: translateY(-5px);
}
/* NFT Image */
.nft-image {
  margin-bottom: 1rem;
  position: relative;
  transition: all 0.5s ease;
  cursor: pointer;
}
.nft-image img {
  max-height: 300px;
  width: 100%;
  border-radius: 0.5rem;
  display: block;
}
.nft-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 300px;
  border-radius: 0.5rem;
  background-color: hsla(178, 100%, 50%, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  opacity: 0;
  transition: opacity 0.3s ease;
}
.nft-image .overlay img {
  width: 50px;
}
.nft-image:hover .overlay {
  opacity: 1;
}
/* NFT Content */
.nft-content h1 {
  color: var(--white);
  font-size: 1.8rem;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: color 0.3s ease;
}
.nft-content h1:hover {
  color: var(--cyan400);
}
.nft-content > p {
  font-size: 18px;
  color: var(--blue500);
  margin-bottom: 1rem;
}
.nft-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}
.nft-details > p {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nft-details p img {
  display: inline-block;
  width: 10px;
  margin-right: 5px;
}
.nft-details p:last-child img {
  width: 20px;
}
.nft-details p:first-child,
.nft-details p:last-child {
  font-weight: bold;
  font-size: 1.2rem;
  color: var(--cyan400);
}
.nft-details p:last-child {
  color: var(--blue500);
}
.line {
  height: 1px;
  background-color: var(--blue500);
  opacity: 0.5;
  margin-bottom: 1rem;
}
/* NFT Author */
.nft-author {
  display: flex;
  justify-content: baseline;
  align-items: center;
}
.nft-author img {
  width: 50px;
  border: 2px solid var(--blue500);
  border-radius: 50%;
  margin-right: 1rem;
}
.nft-author > p {
  font-size: 18px;
  color: var(--blue500);
  font-weight: bold;
}
.nft-author > p > span {
  color: var(--white);
  cursor: pointer;
  transition: color 0.3s ease;
}
.nft-author > p > span:hover {
  color: var(--cyan400);
}
/* Devices */
@media (max-width: 768px) {
  body {
    padding: 80px 0;
  }
  .nft-content h1 {
    font-size: 1.5rem;
  }
  .nft-content > p {
    font-size: 16px;
  }
  .nft-details span {
    font-size: 1rem;
  }
  .nft-author > p {
    font-size: 1rem;
  }
}
